$font-color : #aaaaaa;
hr {
    border-top: 0.3rem dashed $font-color;
}
ul {
    margin-left: -1.2rem;
}
ul.no-bullets {
    list-style: none;
    margin-left: -2rem;
}

.custom-font-color{
    color: $font-color;
}
hr {
    border-style: dotted;
}

.bi.bi-search {
    position: absolute;
    pointer-events: none;
    margin-left: 13.5rem;
}


.btn i {
    display: none;
}
  
.btn:active i {
    display: inline;
}