<form [formGroup]="form">
    <div class="row d-flex justify-content-end mt-sm-1">
        <div class="col-12 col-md-8 col-sm-6 d-flex justify-content-center justify-content-sm-end align-items-center my-1 ">
            <span>Número de pàgines:</span>
        </div>
        <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end align-items-center">
            <button type="button" 
                class=" btn-light fa-solid fa-minus"
                (click)="setPages(-1)"
                [disabled]="pages === 0"
            >
            </button>
            <input type="text" inputmode="numeric"
                class="form-control"
                formControlName="pages"
            >
            <button type="button" class="fa-solid fa-plus"
                (click)="setPages(+1)"
            ></button>
        </div>
    </div>
    <div class="row d-flex justify-content-end mt-3">
        <div class="col-12 col-md-8 col-sm-6 d-flex justify-content-center justify-content-sm-end align-items-center">
            <span>Número de llenguatges:</span>
        </div>
        <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end align-items-center">
            <button type="button" class="btn-light fa-solid fa-minus"
                (click)="setLanguages(-1)"
                [disabled]="languages === 1"
            ></button>
            <input type="text" inputmode="numeric"
                class="form-control"
                formControlName="languages"
            >
            <button type="button" 
                class="fa-solid fa-plus"
                (click)="setLanguages(+1)"
            >
            </button>
        </div>
    </div>
</form>