<form [formGroup]="form">
    <div class="row d-flex justify-content-end mt-sm-1">
        <div class="col-12 col-md-8 col-sm-6 d-flex justify-content-center justify-content-sm-end align-items-center my-1 ">
            <button type="button" class="btn bi bi-info-circle"
            (click)="openModal('modal-pages')"
        ></button>
            <span>Número de pàgines:</span>
        </div>
        <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end align-items-center">
            <button type="button" 
                class="fa-solid fa-minus add-remove"
                (click)="setFieldValue('pages', -1)"
                [disabled]="isMinusButtonDisabled('pages')"
            >
            </button>
            <input type="text" inputmode="numeric"
                class="form-control"
                formControlName="pages"
            >
            <button type="button" class="add-remove fa-solid fa-plus"
                (click)="setFieldValue('pages', +1)"
            ></button>
        </div>
    </div>
    <div class="row d-flex justify-content-end mt-3">
        <div class="col-12 col-md-8 col-sm-6 d-flex justify-content-center justify-content-sm-end align-items-center">
            <button type="button" 
                class="btn bi bi-info-circle"
                (click)="openModal('modal-languages')"
            >

            </button>
            <span>Número de llenguatges:</span>
        </div>
        <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end align-items-center">
            <button type="button" class="add-remove fa-solid fa-minus"
                (click)="setFieldValue('languages',-1)"
                [disabled]="isMinusButtonDisabled('languages')"
            ></button>
            <input type="text" inputmode="numeric"
                class="form-control"
                formControlName="languages"
            >
            <button type="button" 
                class=" add-remove fa-solid fa-plus"
                (click)="setFieldValue('languages', +1)"
            >
            </button>
        </div>
    </div>
</form>

<div class="modal overlay" tabindex="-1" id="modal-languages" role="dialog" 
    (click)="closeModal('modal-languages')"
>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-4">
            <div class="modal-body text-center">
                <h2 class="mb-2">Número de llenguatges</h2>
                <p>Afegeix els llenguatges que tindrà el teu projecte.<br>
                    El cost de cada llenguatge és de 30€.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal overlay" tabindex="-1" id="modal-pages" role="dialog" 
    (click)="closeModal('modal-pages')"
>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-4">
            <div class="modal-body text-center">
                <h2 class="mb-2">Número de pàgines</h2>
                <p>Afegeix les pàgines que tindrà el teu projecte.<br>
                    El cost de cada pàgina és de 30€.
                </p>
            </div>
        </div>
    </div>
</div>