button {
    border-radius: 50%;
    height: 1.6rem;
    width: 1.6rem;
    font-size: 0.5rem;
}

input[type="text"][inputmode="numeric"] {
    width:3.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
