<div class="row d-flex justify-content-end">
    <div class="col-8 col-sm-7 d-flex justify-content-end align-items-center ">
        <span>Número de pàgines:</span>
    </div>
    <div class="col-4 col-sm-2 d-flex justify-content-end align-items-center">
        <button class=" btn-light fa-solid fa-minus"></button>
        <span class="card px-3 py-1 mx-2">
            <strong>0</strong>
        </span>
        <button class="fa-solid fa-plus"></button>
    </div>
</div>
<div class="row d-flex justify-content-end mt-3">
    <div class="col-8 col-sm-7 d-flex justify-content-end align-items-center ">
        <span>Número de llenguatges:</span>
    </div>
    <div class="col-4 col-sm-2 d-flex justify-content-end align-items-center">
        <button class=" btn-light fa-solid fa-minus"></button>
        <span class="card px-3 py-1 mx-2">
            <strong>0</strong>
        </span>
        <button class="fa-solid fa-plus"></button>
    </div>
</div>